

  $app-primary-color: #000;
  $app-secondary-color: #00ff00;
  $app-primary-color-contrast: #ffffff;
  
  $font-family-regular:'Poppins';
  $font-family-semibold:'Poppins-Semibold';
  $font-family-bold:'Poppins-bold';



