$primary-color:#193370;
$secondary-color:#3095fb;


$primary-font-family-regular:open_sansregular;
$primary-font-family-medium:open_sansmedium;
$primary-font-family-semibold:open_sanssemibold;
$primary-font-family-bold:open_sansbold;


$secondary-font-family-light:dosislight;
$secondary-font-family-regular:dosisregular;
$secondary-font-family-medium:dosismedium;
$secondary-font-family-semibold:dosissemibold;
$secondary-font-family-bold:dosisbold;