<div class="content">
    <div class="boardWrapper">
        <div class="boardMainContent">
            <div class="boardHeader">
                <h3>React Semantic UI</h3>
                <nz-avatar-group>
                    <nz-avatar nzIcon="user" nzSrc="//zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png">
                    </nz-avatar>
                    <nz-avatar style="background-color: #f56a00" nzText="U"></nz-avatar>
                    <nz-avatar style="background-color: #fde3cf; color: #f56a00" nzText="+2"></nz-avatar>
                </nz-avatar-group>

                <a nzTrigger="click" nz-dropdown [nzDropdownMenu]="menu" nzPlacement="bottomLeft"><i nz-icon
                        nzType="user-add" nzTheme="outline"></i>Invite</a>
                <nz-dropdown-menu #menu="nzDropdownMenu">
                    <ul nz-menu class="inviteDropDown w-300">
                        <div class="card">
                            <div class="cardHeader"> Invite to board</div>
                            <div class="cardContent">
                                <input nz-input placeholder="Email Address" />
                                <button nz-button nzType="primary" nzBlock>Send Invite</button>
                            </div>
                        </div>
                    </ul>
                </nz-dropdown-menu>
            </div>
            <div class="boardCanvas">
                <div class="boardScroll">
                    <div cdkDropListGroup>

                        <div class="listWrapper">
                            <div class="list">
                                <div class="listHeader" cdkDragHandle>
                                    <h2>To do</h2>
                                </div>
                                <div class="listCards">

                                    <div cdkDropList [cdkDropListData]="todo" class="example-list"
                                        (cdkDropListDropped)="drop($event)">
                                        <div class="example-box" *ngFor="let item of todo" cdkDrag> <a
                                                class="listCardInner">
                                                <div class="listCardDetails">
                                                    <div class="listCardTitle">
                                                        {{item}}
                                                    </div>
                                                </div>
                                            </a></div>
                                    </div>

                                </div>
                                <div class="listCardComposer">
                                    <a href="#" class="openCardComposer">
                                        <i nz-icon nzType="plus" nzTheme="outline" class="iconAdd"></i>
                                        <span>Add a card</span>
                                    </a>
                                </div>
                            </div>
                        </div>


                        <div class="listWrapper">
                            <div class="list">
                                <div class="listHeader" cdkDragHandle>
                                    <h2>Doing</h2>
                                </div>
                                <div class="listCards">
                                    <div cdkDropList [cdkDropListData]="doing" class="example-list"
                                        (cdkDropListDropped)="drop($event)">
                                        <div class="example-box" *ngFor="let item of doing" cdkDrag> <a
                                                class="listCardInner">
                                                <div class="listCardDetails">
                                                    <div class="listCardTitle">
                                                        {{item}}
                                                    </div>
                                                </div>
                                            </a></div>
                                    </div>

                                </div>
                                <div class="listCardComposer">
                                    <a href="#" class="openCardComposer">
                                        <i nz-icon nzType="plus" nzTheme="outline" class="iconAdd"></i>
                                        <span>Add a card</span>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="listWrapper">
                            <div class="list">
                                <div class="listHeader" cdkDragHandle>
                                    <h2>Done</h2>
                                </div>
                                <div class="listCards">
                                    <div cdkDropList [cdkDropListData]="done" class="example-list"
                                        (cdkDropListDropped)="drop($event)">
                                        <div class="example-box" *ngFor="let item of done" cdkDrag> <a
                                                class="listCardInner">
                                                <div class="listCardDetails">
                                                    <div class="listCardTitle">
                                                        {{item}}
                                                    </div>
                                                </div>
                                            </a></div>
                                    </div>

                                </div>
                                <div class="listCardComposer">
                                    <a href="#" class="openCardComposer">
                                        <i nz-icon nzType="plus" nzTheme="outline" class="iconAdd"></i>
                                        <span>Add a card</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="listWrapper" *ngFor="let track of mainTrackArr; let i=index">
                            <div class="list">
                                <div class="listHeader" cdkDragHandle>
                                    <h2>{{track.title}}</h2>
                                </div>
                                <div class="listCards" cdkDropList [id]="track.id" [cdkDropListData]="track.tasks"
                                    [cdkDropListConnectedTo]="trackIds" (cdkDropListDropped)="onTaskDrop($event)">
                                </div>
                                <div class="listCardComposer">
                                    <a href="#" class="openCardComposer">
                                        <i nz-icon nzType="plus" nzTheme="outline" class="iconAdd"></i>
                                        <span>Add a card</span>
                                    </a>
                                </div>
                            </div>
                        </div> -->
                        <!-- <div class="listWrapper">
                        <div class="list">
                            <div class="listHeader">
                                <h2>To Do</h2>
                            </div>
                            <div class="listCards">
                                <a class="listCardInner">
                                    <div class="listCardDetails">
                                        <div class="listCardTitle">
                                            Design
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="listCardComposer">
                                <a href="#" class="openCardComposer">
                                    <i nz-icon nzType="plus" nzTheme="outline" class="iconAdd"></i>
                                    <span>Add a card</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="listWrapper">
                        <div class="list">
                            <div class="listHeader">
                                <h2>Inprogress</h2>
                            </div>
                            <div class="listCards">
                                <a class="listCardInner">
                                    <div class="listCardDetails">
                                        <div class="listCardTitle">
                                            Design
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="listCardComposer">
                                <a href="#" class="openCardComposer">
                                    <i nz-icon nzType="plus" nzTheme="outline" class="iconAdd"></i>
                                    <span>Add a card</span>
                                </a>
                            </div>
                        </div>
                    </div> -->
                        <div class="listWrapper modAdd">
                            <a class="openAddList" href="#">
                                <span class="placeholder">
                                    <i nz-icon nzType="plus" nzTheme="outline" class="iconAdd"></i> Add another list
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>