<div class="content">
    <div class="boardWrapper">
        <div class="boardMainContent">
            <div class="boardHeader">ssss</div>
            <div class="boardCanvas">
                <div class="boardScroll">
                    <div class="listWrapper">
                        <div class="list">
                            <div class="listHeader">
                                <h2>BackLog</h2>
                            </div>
                            <div class="listCards">
                                <a class="listCardInner">
                                    <div class="listCardDetails">
                                        <div class="listCardTitle">
                                            Design
                                        </div>
                                    </div>
                                </a>
                                <a class="listCardInner">
                                    <div class="listCardDetails">
                                        <div class="listCardTitle">
                                            Development
                                        </div>
                                    </div>
                                </a>
                                <a class="listCardInner">
                                    <div class="listCardDetails">
                                        <div class="listCardTitle">
                                            Testing
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="listCardComposer">
                                <a href="#" class="openCardComposer">
                                    <i nz-icon nzType="plus" nzTheme="outline" class="iconAdd"></i>
                                    <span>Add a card</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="listWrapper">
                        <div class="list">
                            <div class="listHeader">
                                <h2>To Do</h2>
                            </div>
                            <div class="listCards">
                                <a class="listCardInner">
                                    <div class="listCardDetails">
                                        <div class="listCardTitle">
                                            Design
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="listCardComposer">
                                <a href="#" class="openCardComposer">
                                    <i nz-icon nzType="plus" nzTheme="outline" class="iconAdd"></i>
                                    <span>Add a card</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="listWrapper">
                        <div class="list">
                            <div class="listHeader">
                                <h2>Inprogress</h2>
                            </div>
                            <div class="listCards">
                                <a class="listCardInner">
                                    <div class="listCardDetails">
                                        <div class="listCardTitle">
                                            Design
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="listCardComposer">
                                <a href="#" class="openCardComposer">
                                    <i nz-icon nzType="plus" nzTheme="outline" class="iconAdd"></i>
                                    <span>Add a card</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="listWrapper modAdd">
                        <a class="openAddList" href="#">
                            <span class="placeholder">
                                <i nz-icon nzType="plus" nzTheme="outline" class="iconAdd"></i> Add another list
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>