<div class="appLayout" style="background-color:#3095fb;">
    <div class="appContainer">
        <div class="appMain">
            <div class="appMainInner">
                <app-header></app-header>
                <div class="appSideNavContainer">
                    <app-side-nav></app-side-nav>
                </div>
                <div class="appContent">
                    <div class="pageContent">
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>